---
import "../styles/global.css";
import Bgpaquete1 from "../assets/imagenes/bg-paquete1.jpeg?url";
import Bgpaquete2 from "../assets/imagenes/bg-paquete2.jpeg?url";
import Bgpaquete3 from "../assets/imagenes/bg-paquete3.jpeg?url";
import Bgpaquete4 from "../assets/imagenes/bg-paquete4.jpeg?url";

import pImg11 from "../assets/imagenes/paquete11.jpeg";
import pImg12 from "../assets/imagenes/paquete12.jpeg";
import pImg13 from "../assets/imagenes/paquete13.jpeg";
import pImg14 from "../assets/imagenes/paquete14.jpeg";

import pImg21 from "../assets/imagenes/paquete21.jpeg";
import pImg22 from "../assets/imagenes/paquete22.jpeg";
import pImg23 from "../assets/imagenes/paquete23.jpeg";

import pImg31 from "../assets/imagenes/paquete31.jpeg";
import pImg32 from "../assets/imagenes/paquete32.jpeg";
import pImg33 from "../assets/imagenes/paquete33.jpeg";

import pImg41 from "../assets/imagenes/paquete41.jpeg";
import pImg42 from "../assets/imagenes/paquete42.jpeg";
import pImg43 from "../assets/imagenes/paquete43.jpeg";

import ProductosSwiper from "./paquete-swiper.astro";
const paquete1Imgs = [pImg11, pImg12, pImg13, pImg14];
const paquete2Imgs = [pImg21, pImg22, pImg23];
const paquete3Imgs = [pImg31, pImg32, pImg33];
const paquete4Imgs = [pImg41, pImg42, pImg43];
---

<section class="w-full">
  <div
    class="flex flex-col h-auto w-full bg-cover bg-center"
    style={`background-image: url(${Bgpaquete1});`}
  >
    <div class="text-white items-center m-10 space-y-10">
      <h1 class="w-full text-center font-bold text-2xl">
        Paquete Potencia Total
      </h1>
      <p class="font-medium">
        Eleva tu entrenamiento al siguiente nivel con energía explosiva y fuerza
        real. Incluye bebida energética GRATIS por lanzamiento.
      </p>
      <ProductosSwiper imagenes={paquete1Imgs} />
      <div class="flex flex-row">
        <ul role="list" class="font-medium list-disc space-y-1 pl-6">
          <li>Pre-entreno en polvo (Essential Pre-Workout)</li>
          <li>Electrolitos o BCAA (BPI Sports Best BCAA)</li>
          <li>
            Extra: 1 bebida energética Ghost o CBUM (gratis por lanzamiento)
          </li>
        </ul>
        <div class="flex-grow"></div>
        <p class="font-extrabold lg:text-2xl p-5">
          De: $1,780 <br /> A: $1,550
        </p>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col h-auto w-full bg-cover bg-center"
    style={`background-image: url(${Bgpaquete2});`}
  >
    <div class="text-white items-center m-10 space-y-10">
      <h1 class="w-full text-center font-bold text-2xl">
        Paquete Definicion Plus
      </h1>

      <p class="font-medium font-center">
        Esculpe tu figura y mantén la energía alta. Además, recibe una bebida
        refrescante para tu rutina sin remordimientos.
      </p>
      <ProductosSwiper imagenes={paquete2Imgs} />
      <div class="flex flex-row">
        <ul role="list" class="font-medium list-disc space-y-1 pl-6">
          <li>Creatina monohidratada (3RUN Creatina Monohidratada)</li>
          <li>Pre-entreno en polvo (Essential Pre-Workout)</li>
          <li>Electrolitos o BCAA (BPI Sports Best BCAA)</li>
          <li>
            Extra: 1 bebida energética Ghost o CBUM (gratis por lanzamiento)
          </li>
        </ul>
        <div class="flex-grow"></div>
        <p class="text-4xl font-extrabold py-10">De: $1,780 <br /> A: $1,550</p>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col h-auto w-full bg-cover bg-center"
    style={`background-image: url(${Bgpaquete3});`}
  >
    <div class="text-white items-center m-10 space-y-10">
      <h1 class="w-full text-center font-bold text-2xl">
        Paquete Potencia Total
      </h1>
      <p class="font-medium">
        Eleva tu entrenamiento al siguiente nivel con energía explosiva y fuerza
        real. Incluye bebida energética GRATIS por lanzamiento.
      </p>
      <ProductosSwiper imagenes={paquete3Imgs} />
      <div class="flex flex-row">
        <ul role="list" class="font-medium list-disc space-y-1 pl-6">
          <li>Creatina monohidratada (3RUN Creatina Monohidratada)</li>
          <li>Pre-entreno en polvo (Essential Pre-Workout)</li>
          <li>Electrolitos o BCAA (BPI Sports Best BCAA)</li>
          <li>
            Extra: 1 bebida energética Ghost o CBUM (gratis por lanzamiento)
          </li>
        </ul>
        <div class="flex-grow"></div>
        <p class="text-4xl font-extrabold py-10">De: $1,780 <br /> A: $1,550</p>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col h-auto w-full bg-cover bg-center"
    style={`background-image: url(${Bgpaquete4});`}
  >
    <div class="text-white items-center m-10 space-y-10">
      <h1 class="w-full text-center font-bold text-2xl">
        Paquete Potencia Total
      </h1>
      <p class="font-medium">
        Eleva tu entrenamiento al siguiente nivel con energía explosiva y fuerza
        real. Incluye bebida energética GRATIS por lanzamiento.
      </p>
      <ProductosSwiper imagenes={paquete4Imgs} />
      <div class="flex flex-row">
        <ul role="list" class="font-medium list-disc space-y-1 pl-6">
          <li>Creatina monohidratada (3RUN Creatina Monohidratada)</li>
          <li>Pre-entreno en polvo (Essential Pre-Workout)</li>
          <li>Electrolitos o BCAA (BPI Sports Best BCAA)</li>
          <li>
            Extra: 1 bebida energética Ghost o CBUM (gratis por lanzamiento)
          </li>
        </ul>
        <div class="flex-grow"></div>
        <p class="text-4xl font-extrabold py-10">De: $1,780 <br /> A: $1,550</p>
      </div>
    </div>
  </div>
</section>
